body {
    font-family: Arial;
    text-align: center;
}

.container {
    width: 300px;
    margin: 50px auto;
}

li {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 5px;
}
